---
import Instagram from "./icons/Instagram.astro"
---


<footer class="mx-auto max-w-6xl py-15 px-4 flex flex-col md:flex-row gap-y-4 justify-center md:justify-between text-black/80 text-sm dark:text-white/80">
    <div class="flex flex-row gap-x-3 items-center justify-center opacity-70 dark:opacity-50">
    <h3 class="text-pretty flex ">
        © 2025 - Desarrollada por Lautaro Sanchez Visser
    </h3>
    <a href="https://www.instagram.com/lautyvisser/#"
        target="_blank"
        aria-label="Ir al perfil de Instagram de Lautaro Sanchez Visser"
        rel="noopener noreferrer">
        <Instagram class="size-4 hover:scale-110 transition" />
    </a>
    </div>
    <nav>
        <ul class="gap-4 flex justify-center">
            <li><a href="#event" class="hover:underline">Evento</a></li>
            <li><a href="#gift" class="hover:underline">Regalo</a></li>
            <li><a href="#assistance" class="hover:underline">Asistencia</a></li>
        </ul>
    </nav>
</footer>