<li>
            
            <a
            {...Astro.props}
            
            class="flex gap-x-1 p-1.5 md:p-2 rounded-xl items-center border border-transparent hover:bg-black/10  hover:border-black/10 hover:scale-105 active:scale-90 transform duration-200 dark:hover:bg-white/10 dark:hover:border-white/10">
            <slot />
            </a>
</li>